# ===============================
# OS Files (macOS)
# ===============================
.DS_Store

# ===============================
# Compiled Java Files
# ===============================
*.class

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Package Files
# ===============================
*.jar
*.war
*.ear

# ===============================
# IDE / Editor Files
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# Build / Output Folders
# ===============================
bin/
out/
target/

# ===============================
# JVM Crash Logs
# ===============================
hs_err_pid*
replay_pid*
